* {
    background-color: black !important;
}

@media(min-width: 425px) {
    * {
        background-color: red !important;
    }
}

@media(min-width: 500px) {
    * {
        background-color: red !important;
    }
}

@media(min-width: 768px) {
    * {
        background-color: violet !important;
    }
}

@media(min-width: 1024px) {
    * {
        background-color: blue !important;
    }
}

@media(min-width: 1200px) {
    * {
        background-color: black !important;
    }
}
